{
  "openapi": "3.0.3",
  "info": {
    "contact": {},
    "title": "Dyness Open Api",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://open-api.dyness.com:80/openapi/ems-device",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "openApi",
      "description": "Open Api V 1 Controller"
    }
  ],
  "paths": {
    "/v1/advanced/setting/detail": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-READ-(Advanced Settings: Full query)",
        "description": "Only IGEN series(AquaVolt、SolarCube) products are supported",
        "operationId": "getAustralianAdvancedSettingDetailUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenBasicDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/advanced/setting/single/set": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-WRITE-(Advanced Settings)",
        "description": "Please set the parameters for each setting item individually. Batch setting is not supported!!! Only IGEN series(AquaVolt、SolarCube) products are supported",
        "operationId": "setAustralianAdvanceSettingUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenAdvancedSettingDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/alarm/query": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Obtain fault alarm data through the device sn",
        "description": "Applicable to commerce",
        "operationId": "queryAlarmUsingPOST_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiAlarmQueryPage" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseOpenApiAlarmPageDataDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/base/read": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-READ-(Basic Settings)",
        "description": "Only IGEN series(AquaVolt、SolarCube) products are supported",
        "operationId": "readAustralianBaseSettingUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenBaseParamReadDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/base/set": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-WRITE-(Basic Settings)",
        "description": "Please set the parameters for each setting item individually. Batch setting is not supported!!! Only IGEN series(AquaVolt、SolarCube) products are supported; ",
        "operationId": "setAustralianBaseSettingUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenBaseParamDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/battery/setting/detail": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-READ-(Full battery Settings query)",
        "description": "Only IGEN series(AquaVolt、SolarCube) products are supported",
        "operationId": "getAustralianBatterySettingDetailUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenBasicDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/battery/setting/set": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-WRITE-(Battery Settings)",
        "description": "Please set the parameters for each setting item individually. Batch setting is not supported!!! Only IGEN series(AquaVolt、SolarCube) products are supported;",
        "operationId": "setAustralianBatterySettingUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenBatterySettingDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/control/batchSetChargeConfig": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Set Charge Power&Time via Multiple SNs",
        "description": "Only IGEN series products are supported",
        "operationId": "batchShardTimeChargeSettingUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestBatchChargeDisChargeSetDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseSetResultDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/control/batchSetChargeDischargeConfig": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Set Charge /Diacharge Time & Power of Myltiple Devices (by SNs)",
        "description": "Only IGEN series products are supported",
        "operationId": "batchSetChargeDischargeBySnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestBatchChargeDisChargeSetDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseSetResultDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/control/batteryCapacitySetting": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Set Battery Reservation Capacity",
        "description": "IGEN series only",
        "operationId": "batteryCapacitySettingUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestBatteryCapacitySetDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/control/maxFeedinSet": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Set Max Feed-in Power Limit",
        "description": "IGEN series only",
        "operationId": "maxFeedInSetUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestAdvancedSettingDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/control/setGirdConnectedPowerLimit": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Set Grid connected power limit",
        "description": "Only IGEN series products are supported",
        "operationId": "setGirdConnectedPowerLimitUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiGridConnectedLimitSetDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseOpenApiGridConnectedLimitSetDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/control/singleSetChargeConfig": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Set Charge Time/Power by SN",
        "description": "IGEN series only",
        "operationId": "shardTimeChargeSettingUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiChargeSetDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/control/singleSetChargeDischargeConfig": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Set Discharge Time/Power by SN",
        "description": "IGEN series only",
        "operationId": "shardTimeDisChargeSettingUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiChargeSetDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/detection/setting/single/detail": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-READ-(Equipment inspection query)",
        "description": "Only IGEN series(AquaVolt、SolarCube) products are supported",
        "operationId": "getSingleAustralianDetectionSettingDetailUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenDetectSettingDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/detection/setting/single/set": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-WRITE-(Equipment inspection - System inspection)",
        "description": "Please set the parameters for each setting item individually. Batch setting is not supported!!! Only IGEN series(AquaVolt、SolarCube) products are supported; ",
        "operationId": "setAustralianDetectionSettingUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenDetectionSettingDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultobject" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/batchBindSn": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Batch bounding SN (with check code)",
        "description": "All series products are supported",
        "operationId": "batchBindSnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestDeviceBatchBindRelationDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/batchUnBindSn": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Batch Unbounding SN (from check code)",
        "description": "All series products are supported",
        "operationId": "batchUnBindSnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestDeviceBatchBindRelationDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/bindSn": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Bounding SN (with check code)",
        "description": "All series products are supported",
        "operationId": "bindSnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestDeviceBindRelationDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/checkVersion": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get the latest available firmware version of EMS,BMS and inverter (Single Unit)",
        "description": "Only IGEN series products are supported",
        "operationId": "checkVersionLastedUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CheckVersionRequest" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultCheckVersionResponse" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/control/toggle": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get the Access Authority to Controlling Single Unit（One time for all, which means need to get the access only one time to controlling a singleunitatthe first time.）",
        "description": "Only IGEN series products are supported",
        "operationId": "controlToggleUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ControlToggleRequest" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultControlToggleResponse" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/getBindDeviceSnListByCurrentUserId": {
      "get": {
        "tags": [ "openApi" ],
        "summary": "Get all the device SN bindings of the current user",
        "description": "All series products are supported",
        "operationId": "getBindDeviceSnListByCurrentUserIdUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseBindDeviceSnListDto" } } }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/getEnergyDataBySn": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get Energy Data by SN and Date",
        "description": "IGEN series only",
        "operationId": "getEnergySummaryDataBySnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiSystemEnergyDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseOpenApiSystemEnergyDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/getLastPowerDataBySn": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get Real-time Power Data by SN",
        "description": "IGEN series only",
        "operationId": "getLastPowerDataBySnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiRealPowerDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseDynamicListDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/getLastRunningDataBySn": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get Latest Running Data by SN",
        "description": "IGEN series only",
        "operationId": "getLastRunningDataBySnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiRealTimeDataDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseAioBaseDeviceDataDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/history/export/task": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Export Historical Data",
        "description": "IGEN series only",
        "operationId": "historyExportTaskUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiHistoryDataDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseOpenApiHistoryDataDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/houseHold/list": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "get household energy device List",
        "description": "Applicable to Household energy device",
        "operationId": "houseHoldStorageListUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiDeviceJuniorListDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponsePageResponseStationDeviceJuniorDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/household/storage/detail": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "get Household Storage Device Details",
        "description": "Applicable to Household Storage System",
        "operationId": "storageDetailUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiDeviceJuniorDetailDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseOpenApiDeviceJuniorDetailDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/inverter/list": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "get solis inverter list",
        "description": "Applicable to solis",
        "operationId": "inverterListUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseInverterListDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/inverter/load/detail": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "get the details of solis inverter—load, grid, and battery",
        "description": "Applicable to solis",
        "operationId": "loadDetailUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestInverterDetailDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseOpenApiInverterDetailDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/read": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Read a single or multiple points",
        "description": "Applicable to commerce",
        "operationId": "readUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadOpenApiQuery" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListRegister" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/realTime/data": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "real-time Data Query",
        "description": "Applicable to all devices",
        "operationId": "realDataQueryUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiPointDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseOpenApiPointDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/singleGetChargeDischargeConfig": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get Charge/Discharge Config by SN",
        "description": "IGEN series only",
        "operationId": "chargeOrDischargeReadUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiSetReadDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseOpenApiSetReadDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/singleGetDischargeConfig": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get Discharge Config by SN",
        "description": "IGEN series only",
        "operationId": "dischargeReadUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiSetReadDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListResponseOpenApiSetReadDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/storage/list": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get the list of energy storage devices",
        "description": "Applicable to commerce",
        "operationId": "storageListUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestOpenApiDeviceJuniorListDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponsePageResponseStationDeviceJuniorDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/unBindSn": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Unbounding SN (from check code)",
        "description": "All series products are supported",
        "operationId": "unBindSnUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestDeviceBindRelationDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/write": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Write a single point position",
        "description": "Applicable to commerce",
        "operationId": "writeUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OpenApiWriteQuery" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListWriteResponse" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/device/writeBatch": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Write multiple points",
        "description": "Applicable to commerce",
        "operationId": "writeBatchUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OpenApiWriteQuery" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultListWriteResponse" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/equipment/group/delete": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Remove Group",
        "description": "All series products are supported",
        "operationId": "removeGroupUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestRemoveGroupDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/equipment/search": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Get SN list of a Group (by GroupKey)",
        "description": "All series products are supported",
        "operationId": "deviceListUsingPOST_3",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "groupKey",
            "in": "query",
            "description": "groupKey",
            "required": true,
            "style": "form",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultMapListstring" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/faultWarn/setting/detail": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "IGEN-READ-(Full query of fault alarms)",
        "description": "Only IGEN series(AquaVolt、SolarCube) products are supported",
        "operationId": "getAustralianFaultWarnDetailUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestIgenFaultWarnDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultResponseIgenFaultWarnPageDto" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/group/addGroup": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Add New Group",
        "description": "All series products are supported",
        "operationId": "addGroupUsingPOST",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Fixed value eg: application/json;charset=UTF-8 ",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "1. Get real-time local GMT time\n2. Convert GMT to a character string format : EEE, d MMM yyyy HH:mm:ss 'GMT'\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RequestAddGroupDto" } } } },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponseResultboolean" } } }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v1/group/addSnByGroup": {
      "post": {
        "tags": [ "openApi" ],
        "summary": "Add New SN to a Group",
        "description": "All series products are supported",
        "operationId": "addDeviceUsingPOST_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Confirmation on validity of requests :\napiId: accesser/visitor ID\napiSecret: Signing key\nCanonicalizedResource: the API interface path (eg. \"/ems-device/third/aio/addGroup \")\nSign: digital signature (Encrypted by HmacSHA1 key and encoded by base64 ): \\n : line separator\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "1. Encrypt “Body” by MD5;\n2. Convert the encrypted data to binary combination\n3. Encode the binary combinations by Base64\n",
            "required": true,
            "allowReserved": false,
            "schema": { "type": "string" }
          },
          {
[...]
